/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.meta_container :hover {
    /*background-color: yellow;*/
}
.meta_container {
    /*background-color:purple;*/
    height: 150px;
    margin: 0px;
    width: 100%;
}
.header a {
    font-family: 'Josefin Slab', serif;
    font-size:55px;
    text-decoration: none;
    color:black;
    letter-spacing: 2px;
    text-align: center;
    /*padding: 10px;*/
    /*margin-top:20px;*/
    display:block;
    padding-top: 40px;
}

.navigation li {
    display: inline;
}
.navigation ul {
    list-style-type: none;
    text-align: center;
    padding-bottom:20px;
    -webkit-padding-start: 0px !important;
}
.navigation a {
    text-decoration: none;
    color:black;
    font-size:12px;
    font-family: 'Raleway', sans-serif;
    margin: 5px 15px 5px 15px;
}

.navigation a:hover {
    color:gray;
}
